@font-face {
  font-family: "Agatho";
  src: url("fonts/Agatho_Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Agatho";
  src: url("fonts/Agatho_\ Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Agatho";
  src: url("fonts/Agatho_\ Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Agatho";
  src: url("fonts/Agatho_\ Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

.gridCanukkaHome {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

header {
  min-height: 100vh;
  max-height: 100vh;
  background-image: url(img/cannuka_banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}

.navGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    "navLeft headerLogo navRight"
    "flexSkin flexSkin flexSkin";
}

.navLeft {
  grid-area: navLeft;
}

.headerLogo {
  grid-area: headerLogo;
}

.navRight {
  grid-area: navRight;
}

.flexSkin {
  grid-area: flexSkin;
  margin: 12% 0 0 12%;
}

.navLeft,
.headerLogo,
.navRight {
  display: flex;
  text-align: center;
  justify-content: center;
}
.headerLogo img {
  transition: 0.3s all;
  cursor: pointer;
}

.headerLogo img:hover {
  filter: drop-shadow(0px 0px 10px #314c3e);
}

header ul {
  display: flex;
}

header a {
  font-family: "Nexa", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s color;
}

header li a:hover {
  color: #314c3e;
  /* text-decoration: underline; */
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #314c3e;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

header li {
  list-style: none;
  padding: 0 2em;
}

.headerLogo {
  height: 80px;
}

.shopSkinCare {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.parrafoCbd {
  font-family: "Nexa", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #f6e5a5;
  font-size: 24px;
}

.tituloSeparately {
  font-family: "Agatho", serif;
  color: #fff;
  font-size: 62px;
  width: 40%;
}

.botonShopSkin {
  cursor: pointer;
  border: 2px solid #ffffff00;
  margin-top: 20px;
  font-family: "Nexa", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  background-color: #314c3e;
  text-align: center;
  border-radius: 30px;
  width: 12%;
  padding: 14px 0 12px 0;
  font-size: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transition: 0.35s all;
}

.botonShopSkin:hover {
  background-color: #ffffff00;
  border: 2px solid #fff;
}

.gridMainIndex {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 700px;
  grid-template-areas:
    "boxLeft boxRight"
    "leftOur rightOur"
    "boxWhyItLeft boxWhyItRight"
    "newBeauty newBeauty"
    "handSelectedQuality handSelectedQuality"
    "containerOurBestSellers containerOurBestSellers";
}

.boxWhyItLeft {
  grid-area: boxWhyItLeft;
}

.boxWhyItRight {
  grid-area: boxWhyItRight;
}

.newBeauty {
  grid-area: newBeauty;
}

.handSelectedQuality {
  grid-area: handSelectedQuality;
}

.containerOurBestSellers {
  grid-area: containerOurBestSellers;
}

.leftOur {
  padding: 80px 0;
  grid-area: leftOur;
  display: flex;
  justify-content: right;
}

.leftOur img {
  width: 80%;
  height: auto;
}

.rightOur {
  grid-area: rightOur;
  margin: 80px;
}

.boxLeft {
  border: 1px solid #314c3e;
  grid-area: boxLeft;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxRight {
  border-top: 1px solid #314c3e;
  border-bottom: 1px solid #314c3e;
  border-right: 1px solid #314c3e;
  grid-area: boxRight;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxLeft img,
.boxRight img {
  margin-top: 40px;
  width: 40px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.titleBoxesMain {
  text-align: center;
  font-family: "Agatho", serif;
  font-size: 24px;
  font-weight: 400;
  color: #314c3e;
}

.subBoxesMain {
  font-family: "Nexa", sans-serif;
  color: #707070;
  font-weight: 700;
  font-size: 12px;
}

.margin-bottom40 {
  margin-bottom: 40px;
}

.subIngredients {
  font-weight: 600;
  color: #d3716e;
  letter-spacing: 1px;
  font-family: "Nexa", sans-serif;
  text-transform: uppercase;
}

.titleIngredients {
  color: #314c3e;
  font-family: "Agatho", serif;
  font-weight: 400;
  font-size: 48px;
}

.titleIngredients span {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  color: #314c3e;
}

.descIngredients {
  color: #707070;
  font-family: "Nexa", sans-serif;
}

.ingredientsList {
  color: #000;
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.ingredientsList li {
  list-style: none;
}

.subSubIng {
  color: #000;
  font-family: "Nexa", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.ingredientsFlex {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.margin-bottom20 {
  margin-bottom: 20px;
}

.containerBtnLearnMore {
  margin: 60px 0;
}

.learnMore {
  cursor: pointer;
  border: 2px solid #ffffff00;
  text-decoration: none;
  font-family: "Nexa", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: #80bc04;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 30px;
  padding: 14px 40px 10px;
  font-size: 16px;
}

.learnMore:hover {
  border: 2px solid #000000;
  color: #000;
  background-color: #00000000;
}

.boxWhyItRight {
  background-color: #fce1d4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxWhyItRight img {
  height: 80%;
  width: auto;
}

.boxWhyItLeft {
  background-image: url(img/fondoDiv.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WhyWhite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
  background-color: #fff;
}

.whySub {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #d3716e;
  letter-spacing: 1px;
  font-family: "Nexa", sans-serif;
  text-transform: uppercase;
}

.cleanSub {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #314c3e;
  letter-spacing: 1px;
  font-family: "Nexa", sans-serif;
  text-transform: uppercase;
}

.titleReal {
  text-align: center;
  color: #314c3e;
  font-family: "Agatho", serif;
  font-size: 24px;
}

.WhyText {
  padding: 0 10%;
  text-align: center;
  color: #707070;
  font-size: 14px;
  font-family: "Nexa", sans-serif;
}

.newBeauty {
  padding: 80px 0;
  background-color: #f8f8f8;
  text-align: center;
}

.newBeautyLogo img {
  width: 200px;
  height: auto;
}

.subNewBeauty {
  font-family: "Agatho", serif;
  font-weight: 300;
  color: #8f8f8f;
  font-size: 24px;
}

.autorNewBeauty {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 600;
  color: #d3716e;
  letter-spacing: 1px;
  font-family: "Nexa", sans-serif;
  text-transform: uppercase;
}

.editorNewBeauty {
  font-family: "Nexa", sans-serif;
  color: #8f8f8f;
  font-size: 14px;
}

.handSelectedQuality {
  width: 100%;
  height: auto;
  padding: 10% 0 10% 0;
  background-image: url(img/cannuka_bottom-banner.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OurSources {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.handSelectedArm {
  grid-area: handSelectedArm;
  display: flex;
  justify-content: center;
}

.parrafoHandSelected {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 600;
  color: #d3716e;
  letter-spacing: 1px;
  font-family: "Nexa", sans-serif;
  text-transform: uppercase;
}

.tituloSustainably {
  width: 30%;
  color: #314c3e;
  font-family: "Agatho", serif;
  font-weight: 400;
  font-size: 48px;
}

.containerBotonOurSources {
  margin: 60px 0;
}

.botonOurSources {
  cursor: pointer;
  border: 2px solid #00000000;
  text-decoration: none;
  font-family: "Nexa", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: #80bc04;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 30px;
  padding: 14px 40px 10px;
  font-size: 16px;
}

.botonOurSources:hover {
  border: 2px solid #000000;
  color: #000;
  background-color: #00000000;
}

.ourBestSellerGrid {
  padding: 0 12.5% 0 12.5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "boxOurBestSeller1 boxOurBestSeller2 boxOurBestSeller3";
}

.boxOurBestSeller1 {
  grid-area: boxOurBestSeller1;
}

.boxOurBestSeller2 {
  grid-area: boxOurBestSeller2;
}

.boxOurBestSeller3 {
  grid-area: boxOurBestSeller3;
}

.boxOurBestSeller1,
.boxOurBestSeller2,
.boxOurBestSeller3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerOurBestSellers {
  background-color: #d9e9df;
}

.boxOurBestSeller1 img,
.boxOurBestSeller2 img,
.boxOurBestSeller3 img {
  border: 10px solid transparent;
  border-image: url(img/madera.jpeg) 30;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.containerOurBestSellers h2 {
  font-size: 32px;
  color: #314c3e;
  font-family: "Agatho", serif;
  font-weight: 400;
  padding: 40px 0;
  text-align: center;
}

.ourBestProduct {
  margin: 20px 0;
  color: #314c3e;
  font-family: "Agatho", serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 24px;
}

.product-hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.product-hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #80bb06;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.product-hvr-underline-from-center:hover:before,
.product-hvr-underline-from-center:focus:before,
.product-hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.ourBestPrice {
  color: #314c3e;
  font-family: "Nexa", sans-serif;
  letter-spacing: 2px;
}

.ourBestSoldOut {
  color: #d3716e;
  font-family: "Nexa", sans-serif;
  font-size: 14px;
}
